.bgimg{
    background-image: url("https://w0.peakpx.com/wallpaper/299/582/HD-wallpaper-fathers-stuff-ultra-aero-patterns-dark-black-glasses-pattern-male-crown-father-stuff-mustache-hats-necktie.jpg");
    /* background-color: #111; */
    height:100vh;
    width: 100vw;
    background-size: cover;
    position: fixed; 
}

.head{
   text-align: center;
   background-color:rgb(230, 223, 223);
   color: hsl(261, 92%, 47%);
   
   
}
.container{
    margin-left:20%;

}
.card{
    border: 1px solid rgb(247, 240, 240);
    box-shadow: 5px;
    width:800px;
    margin: 8px;
    background-color: transparent;
}


img{
    border-radius: 50%;
    width:10%;

}  
.header{
    display: inline-block;
}



.container a{
     color: #fcf4f4;
     margin: 5px;
     font-weight: bold;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     letter-spacing: 1px;
     font-size:30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sidebar{
    position: fixed;
    top:0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color:black;
    transition: all 300ms ease-in-out;
    border-top-right-radius:10px;

   
}
.sidebar .toggle-btn{
    position: absolute;
    top:10px;
    left:260px;
    width:30px;
    height: 30px;
    cursor: pointer;
    
}
.sidebar .toggle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #111;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;
}
.sidebar .toggle-btn span:nth-child(1){
    top:10%
}
.sidebar .toggle-btn span:nth-child(2){
    top:50%;
}
.sidebar .toggle-btn span:nth-child(3){
    top:90%;
}
.sidebar .link a{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
 .sidebar .link a.active,
 .sidebar .link a:hover{
    background-color: #222;
    color: #00acee;
 }
 .sidebar .link a .icons{
    display: inline-block;
    margin-right: 10px;
 }
 .sidebar.active{
    left:0px;
 }
 .sidebar.active .toggle-btn span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
 }
 .sidebar.active .toggle-btn span:nth-child(2){
    display: none;
 }
 .sidebar.active .toggle-btn span:nth-child(3){
    top:50%;
    transform: translateY(-50%) rotate(-45deg);
 }
 .title,.icon{
    display: inline-block;
 }
 .link{
    margin-top: 25%;
 }
 