<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profilet</title>
</head>
<body>
    <form method="POSt">
        <label>First Name</label>
        <input type="text" placeholder="Enter First Name"><br>
        <label>Last Name</label>
        <input type="text" placeholder="Enter Last Name"><br>
        <label>Email</label>
        <input type="text" placeholder="Enter Email Id"><br>
        <label>Bio</label>
        <input type="text" placeholder="Enter Bio"><br>
    </form>
</body>
</html>